%base {
  font-size: 14px;
  line-height: 160%;
  color: $black;
}

.cat {
  @extend %base;
  display: flex;
  align-items: center;
  margin-top: 5px;
  &:first-of-type {
    margin-top: 0;
  }
}

.btn {
  font-size: 14px;
  line-height: 160%;
  padding: 3px 15px;
  color: $white;
  border-radius: 5px;
  background-color: $blue;
}