.input {
  border: 1px solid $light-grey;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  font-size: 13px;
  line-height: 160%;
  color: $black;
  width: 100%;
  margin-left: 10px;
  &:first-of-type {
    margin-left: 0;
  }
}

.inputs {
  display: flex;
  margin-top: 18px;
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $black;
}