.dialog {
  background: rgba(22, 34, 55, 0.76);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 140px;
  left: 0;
  z-index: 1000;
}

.container {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  top: 140px;
  left: 0;
  width: 100vw;
  position: absolute;
  z-index: 1000;
  background-color: $white;
  // padding-top: 130px;
  display: flex;
  justify-content: center;
  min-height: 400px;
  @include padding-m;
}

.catalog {
  max-width: 1170px;
  width: 100%;
}

.flex {
  display: flex;
}

.form {
  display: flex;
}

.input {
  border: 1px solid $blue;
  box-sizing: border-box;
  box-shadow: 0px 1px 12px rgba(70, 139, 227, 0.14);
  border-radius: 5px;
  height: 43px;
  padding: 0;
  width: 100%;
  outline: none;
  padding: 17px;
  font-size: 14px;
  line-height: 140%;
  @media (max-width: $tablet) {
    height: 33px;
    padding: 8px 17px;
  }
}

.btn {
  background: none;
  border: none;
  color: $blue;
  margin-left: 14px;
  font-size: 14px;
  line-height: 140%;
}

.suggest {
  margin-top: 30px;
  width: 100%;
  border-top: none;
  background-color: $white;
  min-height: 50px;
}

@media (max-width: 480px) {
  .flex {
    flex-direction: column;
  }

  .container {
    top: 55px;
  }
}