$red: #E44D60;

$grey: #798291;

$black: #162237;

$white: #FFFFFF;

$light-grey: #C7CCD5;

$ultra-light-grey: #F5F5F5;

$transparent: rgba(22, 34, 55, 0.77);

$blue: #468BE3;

$tablet: 1024px;

$green: #69BE70;;